*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(61, 93, 189);
  background: linear-gradient(
    126deg,
    rgba(61, 93, 189, 1) 0%,
    rgba(33, 63, 107, 1) 96%
  );
  height: 100vh;
  color: #e4e4e4;
  line-height: 1.5;
  font-family: "M PLUS Rounded 1c";
}

h1{
  font-size: 45px;
  color: rgb(61, 93, 189);
  font-weight: 600;
  font-family: "M PLUS Rounded 1c";
}

header{
  text-align: center;
  padding: 4px 10%;
  margin-bottom: 50px;
  background: linear-gradient(126deg, rgb(239, 239, 239) 0%, rgb(209, 209, 209) 96%);
  font-family: "M PLUS Rounded 1c";
}

.taskCard{
  width: 250px;
  padding: 10px 25px;
  margin: 10px 1%;
  background: rgb(30, 25, 31);
  background: linear-gradient(
    126deg,
    rgba(30, 25, 31, 1) 0%,
    rgba(51, 45, 54, 1) 96%
  );
  border-radius: 5px;
}

.TaskCardTitleInputArea{
  margin-bottom: 10px;
  width: 30%;
  cursor: pointer;
}

.TaskCardTitleInput{
  width: 80px;
  font-size: 1.1rem;
  padding: 4px 6px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.taskAddInput{
  width: 100%;
  font-size: 1.3rem;
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.taskBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0px;
  margin-top: 10px;
  border-radius: 5px;
  background: rgb(145, 137, 145);
  background: linear-gradient(126deg, rgb(79, 73, 79) 0%, rgb(68, 64, 69) 96%);
}

.taskText {
  margin-left: 12px;
}

.taskTrashButton{
  margin-right: 9px;
  border: none;
  cursor: pointer;
}

.taskCardsArea{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.addTaskCardButtonArea{
  margin-left: 1%;
  margin-top: 25px;
}

.addTaskCardButton{
  padding: 10px 18px;
  border-radius: 9999px;
  font-size: 30px;
  background: rgb(145, 137, 145);
  background: linear-gradient(126deg, rgb(79, 73, 79) 0%, rgb(68, 64, 69) 96%);
  box-shadow: 3px 3px 8px 1px rgb(30, 30, 30);
  cursor: pointer;
  transition: all 0.3s;
  color: white;
}

.addTaskCardButton:hover{
  box-shadow: none;
  transform: translate(3px, 3px);
}

.taskCardTitleAndTaskCardButtonArea{
  display: flex;
  justify-content: space-between;
}

.taskCardDeleteButton{
  color: rgb(155, 46, 46);
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
}

.taskTrashButton{
  color: rgb(155, 46, 46);
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
}